.HeroComponent{
  padding: 60px 0 80px;
  #hero-image{
    display: block;
    margin: 0 auto 40px;
  }
  h1.title.is-1{
    max-width: 640px;
    margin: 0 auto 40px;
  }
  p{
    text-align: center;
    margin: 0 auto;
    max-width: 720px;
  }
}