.HeroComponent{
  padding: 60px 0 80px;
  #hero-image{
    display: block;
    margin: 0 auto 40px;
  }
  h1.title.is-1{
    max-width: 640px;
    margin: 0 auto 40px;
  }
  p{
    text-align: center;
    margin: 0 auto;
    max-width: 720px;
  }
  .hero-body{
    background-image: url("../../gheiti_background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }

  .container{
    background-color: rgba(255,255,255,0.75);
    color: black;
    max-width: 750px;
    padding: 20px;
  }
}