@import '../../variables.scss';

.NavigationComponent {
  .container {
    position: relative;
    margin: 0 auto;
  }

  .navbar-start {
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  a.navbar-item {
    padding: 15px 10px;
    max-width: 230px;
    display: flex;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    // text-align: left;
    // color: #3273dc;
  }
}