@import './variables.scss';
hr {
  background-color: $color-ghana-green-light;
  margin-bottom: 40px;
}

.rc-slider{
  max-width: 580px;
  margin-bottom: 20px;
  margin-left: 20px;
  .rc-slider-rail,
  .rc-slider-step{
    // background-color: $color-ghana-orange;
  }
  .rc-slider-dot{
    // border-color: $color-ghana-orange;
  }
  .rc-slider-handle{
    // border-color: $color-ghana-orange;
  }
}

.select {
  min-width: 640px;
  max-width: 640px;
  margin-bottom: 40px;
}

.toggle-wrapper {
  vertical-align: top;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

