@import url('https://fonts.googleapis.com/css?family=Lato');

$family-sans-serif: 'Lato', sans-serif !default;
$color-ghana-red: #810C14;
$color-ghana-green-light: #00AE8D;
$color-ghana-green-dark: #038C65;
$color-ghana-white: #FFFFFF;
$color-ghana-orange: #BF7E04;

// @import '../../../node_modules/bulma/bulma.sass';
